block variables
  - var selected = 'Home'

doctype html
html(lang='en')
  head
    title Blog: #{title}
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/third-party/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
      h5.my-0.mr-md-auto.font-weight-normal Blog
      nav.my-2.my-md-0.mr-md-3
        a.p-2.text-dark(href="/", title="Home") Home

        if user == undefined
          a.p-2.text-dark(href="/users/login") Log In
        else
          a.p-2.text-dark(href="/dashboard") Dashboard
          a.p-2.text-dark(href="/users/logout") Logout
    .container
      block content
    
    hr.bottom
    footer.
      Built with #[a(href='https://expressjs.com') Express.js], login powered by #[a(href='https://developer.okta.com/') Okta]
    script(src='/third-party/jquery/dist/jquery.min.js')
    script(src='/third-party/@popperjs/core/dist/umd/popper.min.js')
    script(src='/third-party/bootstrap/dist/js/bootstrap.min.js')
